:host{
    background-color: beige;
}
.col-3{
    width:24%;
    margin-top: 20px;
    margin-right: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    word-spacing: 1px;
    color:brown;
    border:2px solid black;
    border-radius: 20px;
    padding:5px;

}